body{
    color: white;
    margin: 0;
    background-color: #1f1f1f;
}
input, button{
    background-color: gray;
    color: white;
}
::placeholder{
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    background-color: #1f1f1f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 428.2px;
    text-align: center;
}